## Preprocessing

In [133]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
import sqlite3

# Read database from 'Data/bank_additional.sqlite'.

conn = sqlite3.connect('Data/bank_additional.sqlite')
df = pd.read_sql("select * from marketing",conn)

# Close database
conn.close()

df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,30,blue-collar,married,basic.9y,no,yes,no,cellular,may,fri,...,2,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no
1,39,services,single,high.school,no,no,no,telephone,may,fri,...,4,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no
2,25,services,married,high.school,no,yes,no,telephone,jun,wed,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.962,5228.1,no
3,38,services,married,basic.9y,no,unknown,unknown,telephone,jun,fri,...,3,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no
4,47,admin.,married,university.degree,no,yes,no,cellular,nov,mon,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no

In [134]:
df=df.dropna()
df

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,30,blue-collar,married,basic.9y,no,yes,no,cellular,may,fri,...,2,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no
1,39,services,single,high.school,no,no,no,telephone,may,fri,...,4,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no
2,25,services,married,high.school,no,yes,no,telephone,jun,wed,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.962,5228.1,no
3,38,services,married,basic.9y,no,unknown,unknown,telephone,jun,fri,...,3,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no
4,47,admin.,married,university.degree,no,yes,no,cellular,nov,mon,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4114,30,admin.,married,basic.6y,no,yes,yes,cellular,jul,thu,...,1,999,0,nonexistent,1.4,93.918,-42.7,4.958,5228.1,no
4115,39,admin.,married,high.school,no,yes,no,telephone,jul,fri,...,1,999,0,nonexistent,1.4,93.918,-42.7,4.959,5228.1,no
4116,27,student,single,high.school,no,no,no,cellular,may,mon,...,2,999,1,failure,-1.8,92.893,-46.2,1.354,5099.1,no
4117,58,admin.,married,high.school,no,no,no,cellular,aug,fri,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.966,5228.1,no
4118,34,management,single,high.school,no,yes,no,cellular,nov,wed,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.120,5195.8,no

In [135]:
# Determine the number of unique values in each column.
df.nunique()

age                67
job                12
marital             4
education           8
default             3
housing             3
loan                3
contact             2
month              10
day_of_week         5
duration          828
campaign           25
pdays              21
previous            7
poutcome            3
emp.var.rate       10
cons.price.idx     26
cons.conf.idx      26
euribor3m         234
nr.employed        11
y                   2
dtype: int64

In [136]:
# Convert categorical data to numeric with `pd.get_dummies`
df = pd.get_dummies(df,dtype=float)
df.head()

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,...,day_of_week_fri,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed,poutcome_failure,poutcome_nonexistent,poutcome_success,y_no,y_yes
0,30,487,2,999,0,-1.8,92.893,-46.2,1.313,5099.1,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
1,39,346,4,999,0,1.1,93.994,-36.4,4.855,5191.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2,25,227,1,999,0,1.4,94.465,-41.8,4.962,5228.1,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
3,38,17,3,999,0,1.4,94.465,-41.8,4.959,5228.1,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
4,47,58,1,999,0,-0.1,93.200,-42.0,4.191,5195.8,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0

In [137]:
# Split our preprocessed data into our features and target arrays
y = df['y_yes'].values
X = df.drop(['y_yes','y_no'], axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 42)

In [138]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [150]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 3
hidden_nodes_layer2 = 6
hidden_nodes_layer3 = 12

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="tanh"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="tanh"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_18"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_66 (Dense)            (None, 3)                 192

 dense_67 (Dense)            (None, 6)                 24

 dense_68 (Dense)            (None, 12)                84

 dense_69 (Dense)            (None, 1)                 13

=================================================================
Total params: 313
Trainable params: 313
Non-trainable params: 0
_________________________________________________________________

In [151]:
# Compile the model
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics=['accuracy'])

In [152]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train, epochs=100)

Epoch 1/100
97/97 [==============================] - 6s 9ms/step - loss: 0.4966 - accuracy: 0.8763
Epoch 2/100
97/97 [==============================] - 1s 7ms/step - loss: 0.3318 - accuracy: 0.8893
Epoch 3/100
97/97 [==============================] - 1s 6ms/step - loss: 0.3024 - accuracy: 0.8906
Epoch 4/100
97/97 [==============================] - 0s 4ms/step - loss: 0.2833 - accuracy: 0.8964
Epoch 5/100
97/97 [==============================] - 0s 4ms/step - loss: 0.2659 - accuracy: 0.9032
Epoch 6/100
97/97 [==============================] - 0s 5ms/step - loss: 0.2512 - accuracy: 0.9032
Epoch 7/100
97/97 [==============================] - 0s 4ms/step - loss: 0.2383 - accuracy: 0.9084
Epoch 8/100
97/97 [==============================] - 0s 5ms/step - loss: 0.2262 - accuracy: 0.9107
Epoch 9/100
97/97 [==============================] - 0s 5ms/step - loss: 0.2159 - accuracy: 0.9136
Epoch 10/100
97/97 [==============================] - 0s 5ms/step - loss: 0.2065 - accuracy: 0.9162
Epoch 11/100
97/97 [==============================] - 0s 4ms/step - loss: 0.1997 - accuracy: 0.9181
Epoch 12/100
97/97 [==============================] - 0s 4ms/step - loss: 0.1946 - accuracy: 0.9178
Epoch 13/100
97/97 [==============================] - 0s 4ms/step - loss: 0.1904 - accuracy: 0.9204
Epoch 14/100
97/97 [==============================] - 0s 4ms/step - loss: 0.1866 - accuracy: 0.9207
Epoch 15/100
97/97 [==============================] - 0s 3ms/step - loss: 0.1840 - accuracy: 0.9207
Epoch 16/100
97/97 [==============================] - 0s 3ms/step - loss: 0.1813 - accuracy: 0.9236
Epoch 17/100
97/97 [==============================] - 0s 3ms/step - loss: 0.1793 - accuracy: 0.9217
Epoch 18/100
97/97 [==============================] - 0s 3ms/step - loss: 0.1769 - accuracy: 0.9230
Epoch 19/100
97/97 [==============================] - 0s 4ms/step - loss: 0.1754 - accuracy: 0.9226
Epoch 20/100
97/97 [==============================] - 0s 3ms/step - loss: 0.1734 - accuracy: 0.9255
Epoch 21/100
97/97 [==============================] - 0s 4ms/step - loss: 0.1716 - accuracy: 0.9268
Epoch 22/100
97/97 [==============================] - 0s 3ms/step - loss: 0.1713 - accuracy: 0.9233
Epoch 23/100
97/97 [==============================] - 0s 2ms/step - loss: 0.1696 - accuracy: 0.9255
Epoch 24/100
97/97 [==============================] - 0s 3ms/step - loss: 0.1688 - accuracy: 0.9262
Epoch 25/100
97/97 [==============================] - 0s 2ms/step - loss: 0.1679 - accuracy: 0.9265
Epoch 26/100
97/97 [==============================] - 0s 2ms/step - loss: 0.1673 - accuracy: 0.9259
Epoch 27/100
97/97 [==============================] - 0s 2ms/step - loss: 0.1660 - accuracy: 0.9262
Epoch 28/100
97/97 [==============================] - 0s 2ms/step - loss: 0.1659 - accuracy: 0.9288
Epoch 29/100
97/97 [==============================] - 0s 2ms/step - loss: 0.1647 - accuracy: 0.9275
Epoch 30/100
97/97 [==============================] - 0s 2ms/step - loss: 0.1634 - accuracy: 0.9278
Epoch 31/100
97/97 [==============================] - 0s 2ms/step - loss: 0.1629 - accuracy: 0.9291
Epoch 32/100
97/97 [==============================] - 0s 2ms/step - loss: 0.1616 - accuracy: 0.9291
Epoch 33/100
97/97 [==============================] - 0s 2ms/step - loss: 0.1608 - accuracy: 0.9307
Epoch 34/100
97/97 [==============================] - 0s 2ms/step - loss: 0.1608 - accuracy: 0.9285
Epoch 35/100
97/97 [==============================] - 0s 2ms/step - loss: 0.1598 - accuracy: 0.9317
Epoch 36/100
97/97 [==============================] - 0s 2ms/step - loss: 0.1594 - accuracy: 0.9307
Epoch 37/100
97/97 [==============================] - 0s 3ms/step - loss: 0.1597 - accuracy: 0.9304
Epoch 38/100
97/97 [==============================] - 0s 2ms/step - loss: 0.1581 - accuracy: 0.9307
Epoch 39/100
97/97 [==============================] - 0s 2ms/step - loss: 0.1582 - accuracy: 0.9291
Epoch 40/100
97/97 [==============================] - 0s 2ms/step - loss: 0.1572 - accuracy: 0.9304
Epoch 41/100
97/97 [==============================] - 0s 2ms/step - loss: 0.1575 - accuracy: 0.9307
Epoch 42/100
97/97 [==============================] - 0s 2ms/step - loss: 0.1574 - accuracy: 0.9310
Epoch 43/100
97/97 [==============================] - 0s 2ms/step - loss: 0.1560 - accuracy: 0.9330
Epoch 44/100
97/97 [==============================] - 0s 2ms/step - loss: 0.1552 - accuracy: 0.9330
Epoch 45/100
97/97 [==============================] - 0s 2ms/step - loss: 0.1554 - accuracy: 0.9327
Epoch 46/100
97/97 [==============================] - 0s 2ms/step - loss: 0.1544 - accuracy: 0.9330
Epoch 47/100
97/97 [==============================] - 0s 2ms/step - loss: 0.1542 - accuracy: 0.9356
Epoch 48/100
97/97 [==============================] - 0s 2ms/step - loss: 0.1531 - accuracy: 0.9343
Epoch 49/100
97/97 [==============================] - 0s 2ms/step - loss: 0.1536 - accuracy: 0.9340
Epoch 50/100
97/97 [==============================] - 0s 4ms/step - loss: 0.1534 - accuracy: 0.9346
Epoch 51/100
97/97 [==============================] - 0s 4ms/step - loss: 0.1526 - accuracy: 0.9349
Epoch 52/100
97/97 [==============================] - 0s 3ms/step - loss: 0.1528 - accuracy: 0.9346
Epoch 53/100
97/97 [==============================] - 0s 4ms/step - loss: 0.1521 - accuracy: 0.9382
Epoch 54/100
97/97 [==============================] - 0s 4ms/step - loss: 0.1519 - accuracy: 0.9356
Epoch 55/100
97/97 [==============================] - 0s 4ms/step - loss: 0.1514 - accuracy: 0.9340
Epoch 56/100
97/97 [==============================] - 0s 3ms/step - loss: 0.1519 - accuracy: 0.9333
Epoch 57/100
97/97 [==============================] - 0s 4ms/step - loss: 0.1521 - accuracy: 0.9369
Epoch 58/100
97/97 [==============================] - 0s 4ms/step - loss: 0.1503 - accuracy: 0.9372
Epoch 59/100
97/97 [==============================] - 0s 4ms/step - loss: 0.1512 - accuracy: 0.9346
Epoch 60/100
97/97 [==============================] - 0s 3ms/step - loss: 0.1507 - accuracy: 0.9349
Epoch 61/100
97/97 [==============================] - 0s 4ms/step - loss: 0.1507 - accuracy: 0.9346
Epoch 62/100
97/97 [==============================] - 0s 4ms/step - loss: 0.1506 - accuracy: 0.9346
Epoch 63/100
97/97 [==============================] - 0s 5ms/step - loss: 0.1508 - accuracy: 0.9359
Epoch 64/100
97/97 [==============================] - 0s 3ms/step - loss: 0.1505 - accuracy: 0.9372
Epoch 65/100
97/97 [==============================] - 0s 2ms/step - loss: 0.1509 - accuracy: 0.9362
Epoch 66/100
97/97 [==============================] - 0s 2ms/step - loss: 0.1502 - accuracy: 0.9375
Epoch 67/100
97/97 [==============================] - 0s 2ms/step - loss: 0.1504 - accuracy: 0.9378
Epoch 68/100
97/97 [==============================] - 0s 2ms/step - loss: 0.1496 - accuracy: 0.9382
Epoch 69/100
97/97 [==============================] - 0s 3ms/step - loss: 0.1496 - accuracy: 0.9369
Epoch 70/100
97/97 [==============================] - 0s 2ms/step - loss: 0.1503 - accuracy: 0.9378
Epoch 71/100
97/97 [==============================] - 0s 2ms/step - loss: 0.1492 - accuracy: 0.9391
Epoch 72/100
97/97 [==============================] - 0s 2ms/step - loss: 0.1495 - accuracy: 0.9372
Epoch 73/100
97/97 [==============================] - 0s 2ms/step - loss: 0.1500 - accuracy: 0.9365
Epoch 74/100
97/97 [==============================] - 0s 2ms/step - loss: 0.1485 - accuracy: 0.9391
Epoch 75/100
97/97 [==============================] - 0s 2ms/step - loss: 0.1483 - accuracy: 0.9391
Epoch 76/100
97/97 [==============================] - 0s 2ms/step - loss: 0.1488 - accuracy: 0.9385
Epoch 77/100
97/97 [==============================] - 0s 2ms/step - loss: 0.1477 - accuracy: 0.9391
Epoch 78/100
97/97 [==============================] - 0s 2ms/step - loss: 0.1474 - accuracy: 0.9385
Epoch 79/100
97/97 [==============================] - 0s 2ms/step - loss: 0.1473 - accuracy: 0.9382
Epoch 80/100
97/97 [==============================] - 0s 2ms/step - loss: 0.1475 - accuracy: 0.9404
Epoch 81/100
97/97 [==============================] - 0s 2ms/step - loss: 0.1471 - accuracy: 0.9378
Epoch 82/100
97/97 [==============================] - 0s 2ms/step - loss: 0.1463 - accuracy: 0.9414
Epoch 83/100
97/97 [==============================] - 0s 2ms/step - loss: 0.1468 - accuracy: 0.9382
Epoch 84/100
97/97 [==============================] - 0s 2ms/step - loss: 0.1462 - accuracy: 0.9404
Epoch 85/100
97/97 [==============================] - 0s 3ms/step - loss: 0.1461 - accuracy: 0.9401
Epoch 86/100
97/97 [==============================] - 0s 2ms/step - loss: 0.1471 - accuracy: 0.9408
Epoch 87/100
97/97 [==============================] - 0s 2ms/step - loss: 0.1458 - accuracy: 0.9417
Epoch 88/100
97/97 [==============================] - 0s 2ms/step - loss: 0.1468 - accuracy: 0.9401
Epoch 89/100
97/97 [==============================] - 0s 2ms/step - loss: 0.1461 - accuracy: 0.9411
Epoch 90/100
97/97 [==============================] - 0s 2ms/step - loss: 0.1460 - accuracy: 0.9395
Epoch 91/100
97/97 [==============================] - 0s 2ms/step - loss: 0.1455 - accuracy: 0.9414
Epoch 92/100
97/97 [==============================] - 0s 2ms/step - loss: 0.1461 - accuracy: 0.9404
Epoch 93/100
97/97 [==============================] - 0s 2ms/step - loss: 0.1459 - accuracy: 0.9401
Epoch 94/100
97/97 [==============================] - 0s 2ms/step - loss: 0.1455 - accuracy: 0.9385
Epoch 95/100
97/97 [==============================] - 0s 2ms/step - loss: 0.1455 - accuracy: 0.9411
Epoch 96/100
97/97 [==============================] - 0s 2ms/step - loss: 0.1456 - accuracy: 0.9421
Epoch 97/100
97/97 [==============================] - 0s 2ms/step - loss: 0.1454 - accuracy: 0.9401
Epoch 98/100
97/97 [==============================] - 0s 2ms/step - loss: 0.1448 - accuracy: 0.9411
Epoch 99/100
97/97 [==============================] - 0s 2ms/step - loss: 0.1447 - accuracy: 0.9430
Epoch 100/100
97/97 [==============================] - 0s 2ms/step - loss: 0.1445 - accuracy: 0.9411

## Optimisation
Firstly, we decreased the first hidden layer neurons from 7 to 3, the second hidden layer neurons from 14 to 6.

Secondly, we added the third hidden layer neurons.

Thirdly, we used different activation function for the hidden layer, from ReLU to Tanh.

Finally, Tanh is better than ReLu, and three hidden layers better than two. the best accuracy was composed of Tanh and 3/6/12 layer

### Function **ReLU**
+ 7/14:  
33/33 - 1s - loss: 0.3537 - accuracy: 0.8835 - 844ms/epoch - 26ms/step  
Loss: 0.35365232825279236, Accuracy: 0.8834951519966125
+ 7/14/21:  
33/33 - 1s - loss: 0.7113 - accuracy: 0.8854 - 505ms/epoch - 15ms/step  
Loss: 0.7113155722618103, Accuracy: 0.8854368925094604
+ 3/6:  
33/33 - 1s - loss: 0.3223 - accuracy: 0.8961 - 934ms/epoch - 28ms/step  
Loss: 0.3223118185997009, Accuracy: 0.8961164951324463
+ 3/6/12:  
33/33 - 1s - loss: 0.2780 - accuracy: 0.8786 - 842ms/epoch - 26ms/step  
Loss: 0.2780188024044037, Accuracy: 0.8786407709121704
### Function **Tanh**
+ 3/6:  
33/33 - 1s - loss: 0.2194 - accuracy: 0.8990 - 753ms/epoch - 23ms/step  
Loss: 0.2194284200668335, Accuracy: 0.8990291357040405
+ 3/6/12:  
33/33 - 1s - **loss: 0.2335 - accuracy: 0.9029** - 567ms/epoch - 17ms/step  
Loss: 0.23351119458675385, Accuracy: 0.9029126167297363
+ 7/14/21:  
33/33 - 1s - loss: 0.6689 - accuracy: 0.9000 - 895ms/epoch - 27ms/step  
Loss: 0.6688849925994873, Accuracy: 0.8999999761581421

In [153]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

33/33 - 1s - loss: 0.2335 - accuracy: 0.9029 - 567ms/epoch - 17ms/step
Loss: 0.23351119458675385, Accuracy: 0.9029126167297363

In [154]:
# Export our model to HDF5 file
nn.save("Bank_Marketing.h5")